*{margin:0;padding:0 ;/*overflow: hidden*/}
html,body{
    height: 100%;
    width: 100%;
}
body, textarea, select, input, button {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;

}
.g-topbar {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    zoom: 1;
}

.m-top,.logo a,.m-nav li,.m-nav a,.m-nav li.lst a sub,.m-nav li,.m-tophead,.m-msg,.m-srch .srchbg,.m-srch .m-srchInput,.wrap1,.m-subnavTop,.wrap1 .nav a,.m-nav  .fst .cor{
    background: url(../../img/head/logo/topbar.png?093943da9e4bd0977a13133dfa963c77) no-repeat 0 9999px;
}
.m-top {
    position: relative;
    z-index: 1000;
    height: 70px;
    background-position: 0 -80px;
    background-repeat: repeat-x;
   /* box-shadow: 0 1px 8px 8px   rgb(40,40,40);*/
}
.m-top .wrap {
    width: 980px;
    height: 70px;
    margin: 0 auto;
   /* background: grey;*/

}
.m-top .wrap .logo{
    float: left;
    width: 174px;
}
div {
    display: block;
}

a, a *, .f-hand, .f-hand * {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #333;
}
.logo a{
    float: left;
    width: 157px;
    height: 33px;
    text-indent: -9999px;
    padding: 22px 18px 0 0;
    background-position: 0 15px;
}
/*ul的浮动*/
.m-nav {
    float: left;
}
.m-nav .j-tflag{
    list-style: none;
}
.m-nav li {
    position: relative;
    background-position: right -300px;
}
.m-nav li, .m-nav li span, .m-nav a, .m-nav a em,.m-nav a em ,.m-nav li span{
    float: left;
    height: 70px;
    font-size: 14px;
}
li, s {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.m-nav a.z-slt {
    position: relative;
    margin: 0 -1px;
    background-position: left -155px;
}
.m-nav a {
    position: relative;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
}
[hidefocus] {
    outline: none;
}

.m-nav a.z-slt em {
    padding: 0 21px 0 19px;
    background-position: right -155px;
}
.m-nav a em {
    padding: 0 20px 0 18px;
    overflow: hidden;
    color: #ccc;
    text-shadow: 0 1px 0 #1b1b1b;
    cursor: pointer;
}
em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}
.m-nav li span {
    background-position: left -300px;
}
.m-nav a.z-slt .cor {
    display: block;
    position: absolute;
    left: 50%;
    top: 63px;
    width: 14px;
    height: 10px;
    margin-left: -7px;
    overflow: hidden;
    background-position: -226px -2px;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
.m-nav li.lst, .m-nav li.fst span {
    background: none;
}
/* padding-right: 30px; 增大*/
.m-nav li.lst a sub {
    position: relative;
    left: -25px;
    top: -15px;
    padding-right: 30px;
    background-position: -183px -2px;

}
/*扩散为了隐藏左右的疏扛*/
.m-nav li :hover {
 /*   box-shadow: 1.5px -1px 1px -0.5px rgb(40,40,40) ;*/
    box-shadow: -5.5px -1px 3px 0.5px  rgb(43,46,43);
    background-position: 0 -160px;

}
/*登陆*/

.m-tophead {
    float: right;
    height: 45px;
    margin: 21px 0 0 15px;
    padding: 0 18px 0 0;
    background-position: right -366px;
}
.f-pr {
    position: relative;
    zoom: 1;
}
.m-tophead .link, .m-tophead .link:hover {
    display: block;
    width: 28px;
    margin-top: 10px;
    color: #787878;
}
/*登陆展开*/
.m-tlist {
    position: absolute;
    top: 38px;
    right: -16px;
    width: 158px;
    border: 1px solid #000;
    border-radius: 4px;
}
.m-tlist .inner {
    border-radius: 3px;
    border: 1px solid #404040;
    background: #2a2a2a;
}
.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th {
    padding: 0;
    margin: 0;
}
.m-tlist li, .m-tlist li a {
    float: left;
}
li, s {
    list-style: none;
}
.m-tlist .arr {
    position: absolute;
    top: -8px;
    left: 50%;
    width: 16px;
    height: 9px;
    margin-left: 21px;
    background-position: -20px 0;
}
.m-tlist .icn, .m-tlist .arr {
    background: url(../../img/head/logo/toplist.png?769cb549b1f09b7840b52512004d9ceb) no-repeat 0 9999px;
}
em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}
.m-msg {
    float: right;
    width: 34px;
    height: 28px;
    margin: 17px 0 0 38px;
    background-position: 0 -49px;
}
.m-srch {
    position: relative;
    top: 20px;
    float: right;
    width: 210px;
    height: 31px;
    border-radius: 50px 50px;
    background: lightgrey;
}
/*输入框的设置  padding-left:25px; 光标左移动*/
.m-srch .m-srchInput {
    padding: 0px;
    margin: 0;
    border: none;
    position: relative;
    width: 210px;
    height: 31px;
    padding-left:30px;
    background-position: 0px -550px;
}

/*要求和上面结构一样这样就不会错位了*/
.m-subnavTop{
    height: 33px;
    overflow: hidden;
    background-repeat: repeat-x;
    background-position: 0px -232px;
}
.wrap1 {
   /* position: relative;*/
    height: 35px;
    width: 980px;
    margin: 0 auto;
}
/*模拟上面的h1的宽度*/
.wrap1 .wraph1{
    float: left;
    width: 174px;
    height: 35px;
}
/*发现音乐的选项 ul*/
.wrap1 .nav{
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
   /* background: navajowhite;*/

}
.wrap1 .nav li{
    margin-left: 20px;
    float: left;
    border-radius: 50%;
    text-align: center;


}
.wrap1 .nav a{
    height: 35px;
    color: white;
    padding: 0 5px;
    font-size: 12px;
    display: block;
    border-radius: 50%;
}
/*给第一个孩子设置成选择样式*/
.wrap1 .nav li a.z-slt:nth-child(1){
    background-repeat: repeat-y;
    background-position: -21px -268px;
}
.wrap1 .nav a:hover{
  background-repeat: repeat-y;
    background-position: -21px -268px;
}
.wrap1 .nav em{
    padding: 0 8px;
    line-height: 37px;
    color: #fff;
    text-shadow: 0 1px 0 #650303;
}
/*加小的红三角*/
.m-nav  .fst .cor{
    height: 10px;
    width: 10px;
    background-position: -227px -2px;
}
/*记住绝对定位的 clear是不可以清楚的*/
.outer{
    width: 100%;
    height: 336px;
    background: khaki;
    position: relative;
    overflow: hidden;
}
#inner{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800%;
    height: 336px;

}

#inner div{
    margin: 0 auto;
    float: left;
    height: 336px;
    width: 12.5%;

}
#inner div img{
    margin: 0   0  0 185px;
    display: block;
}
#inner div:nth-child(1){
  /*  background: url("../../img/bg/1.gif") repeat;*/
}
#inner div:nth-child(2){
    background: url("../../img/bg/2.gif") repeat;
}
#inner div:nth-child(3){
    background: url("../../img/bg/3.gif") repeat;
}#inner div:nth-child(4){
     background: url("../../img/bg/4.gif") repeat;
 }
#inner div:nth-child(5){
    background: url("../../img/bg/5.gif") repeat;
  }
#inner div:nth-child(6){
    background: url("../../img/bg/6.gif") repeat;
   }
#inner div:nth-child(7){
    background: url("../../img/bg/7.gif") repeat;
    }
#inner div:nth-child(8){
    background: url("../../img/bg/8.gif") repeat;
     }
#but{
    list-style: none;
    height: 10px;
    width: 400px;
    position: absolute;
    bottom: 8px;
    left: 30%;

}
#but li{
     margin-bottom: 0px;
    float: left;
    height: 6px;
    line-height: 6px;
    text-align: center;
    width: 6px;
    border-radius: 50%;
    background: gainsboro;
    margin-left: 15px;
    cursor: pointer;

}
#but .selectli{
    background: red;
}
.btnl,.btnr{
    position: absolute;
    display: block;
    width: 37px;
    height: 63px;
    z-index: 9999;
    cursor: pointer;
    overflow: hidden;
}
.btnr{
    background: firebrick;
    top: 133px;
    left: 1175px;
    background: url(../../img/lunbo/banner.png?093943da9e4bd0977a13133dfa963c77);
    background-position: 0px -508px;
    text-indent: -9999999999px;
}
.btnl{
    left: 117px;
    top: 133px;
    background: url(../../img/lunbo/banner.png?093943da9e4bd0977a13133dfa963c77) no-repeat 0 9999px;
    background-position: 0 -360px;
    text-indent: -9999999999999999999999999px;
}
.click-flag{

  }
  .btnr:hover{
      background-position:0 -578px;
  }
  .btnl:hover{
      background-position: 0 -430px;
  }
.f-alpha{

}

.download{
    position: absolute;
    left: 915px;
    height: 336px;
    width: 254px;
    background-image: url(../../img/head/logo/download.png);
}
.btn{
    display: block;
    position: relative;
    top: 210px;
    left: 20px;
    height: 56px;
    width: 215px;
    text-indent: -999px;
}
.btn:hover{
    background: url(../../img/head/logo/download.png) -1.2px 66px;
}
.download p{
    margin: auto;
    display: block;
    position: absolute;
    top: 276px;
    left: 10px;
    margin: 10px auto;
    text-align: center;
    color: #8d8d8d;

}
.body_content{
     background: #F5F5F5;
    background: url("../../img/contextImg/wrap1.png")repeat-y 100% 100%;
    position: relative;
}
.content_wrap{
    width: 986px;
    min-height: 1200px;
    height: 1450px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;

}
.contentLeft{
    float: left;
    width: 693px;
    padding: 20px 20px 40px;
    height: 500px;

}
.contentRight{
    float: right;
    width: 252px;
    zoom: 1;
    height: 1450px;
    background: url("../../img/contextImg/wrap1.png")repeat-y -729px 0;

}
.left_wrap {
    height: 33px;
    padding: 0 10px 0 34px;
    background-position: -225px -156px;
    border-bottom: 2px solid #C10D0C;
    background: url("../../img/contextImg/index.png")no-repeat -220px -160px;
}
.left_warp_fir{
    float: left;
    font-size: 20px;
}
.tab{
    padding-top: 5px;
}
.tab a{
    margin: 7px 0 0 10px;
    color: grey;
}
.tab .line{
    margin: 0 10px;
    color: #ccc;
}
 .more{
    display: block;
    float: right;
    margin-top: -6px;
}
.more .more_bg{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    background: url("../../img/contextImg/index.png")no-repeat -220px -160px;
    background-position: 0 -240px;
}
.contentLeft ul{
    list-style:none;
    margin: 20px auto 0;
    padding: 0;

}
.contentLeft ul li{
    display: inline-block;
    height: 204px;
    width: 170px;
   /* background: khaki;*/
}
.contentLeft .left_div_img{
    position: relative;
    margin: auto;
    height: 140px;
    width: 140px;
    background: lightgrey;
}
 .left_div_img .msk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: url("../../img/leftImg/coverall.png") 0 0;
}
.left_div_img .button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    background: url("../../img/leftImg/coverall.png") ;
    background-position: 0 -537px;
    color: #ccc;
}
.left_div_img .icon-play {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
    background: url("../../img/leftImg/iconall.png");
}
.left_div_img .icon-headset{
    display: inline-block;
    float: left;
    width: 14px;
    height: 11px;
    background: url("../../img/leftImg/iconall.png");
    background-position: 0 -24px;
    margin: 9px 5px 9px 10px
}
.left_div_img .nb{
    float: left;
    margin: 7px 0 0 0;
}
.contentLeft .dec{
    display: block;
    float: right;
    width: 140px;
    margin: 8px 0 3px;
    font-size: 14px;
    line-height: 1.4;

}
.n_new , .n_bill{
    margin: 30px auto 0;
    height: 33px;
    padding: 0 10px 0 34px;
    background-position: -225px -156px;
    border-bottom: 2px solid #C10D0C;
    background: url("../../img/contextImg/index.png")no-repeat -220px -160px;
}
.left_warp_fir{
    float: left;
    font-size: 20px;
}
.left_wrap_total{
    clear: both;
    height: 186px;
    position: relative;
    mooz:1;
    margin: 20px 0 37px;
    border: 1px solid #d3d3d3;

}
.left_wrap_inner{
    position: relative;
    height: 184px;
    background: #f5f5f5;
    padding-left: 16px;
    border: 1px solid #fff;
    width: 673px;
    overflow: hidden;

}
.inner_scroll{
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
    width:2732px;
    float:left ;

}
.inner_scroll ul{
    float: left;
    padding: 0px;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 683px;
}
.inner_scroll ul li{
    height: 100%;
    width: 20%;
    float: left;

}
#ul_a1 li div,#ul_a2 li div,#ul_a3 li div,#ul_a4 li div{
    width: 118px;
    height: 100px;
    position: relative;
    top: 40px;
    left: 13px;
}
 #ul_a1 li div a,#ul_a2 li div a,#ul_a3 li div a,#ul_a4 li div a{
     display: inline-block;
     background: url("../../img/leftImg/coverall.png") ;
     width: 118px;
     height: 100px;
     position: absolute;
     top: 0;
     left: 0;

background-position: 0 -570px;
}
#ul_a1 li div a.play,#ul_a2 li div a.play,#ul_a3 li div a.play,#ul_a4 li div a.play{
    background: url("../../img/leftImg/iconall.png");
    background-position: 0 -85px;
    position: relative;
    display: none;
    top: -27px;
    left: 76px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
#ul_a1 li div:hover .play,#ul_a2 li div:hover .play,#ul_a3 li div:hover .play,#ul_a4 li div:hover .play{
    display: inline-block;
}
.ul_p1{
    width: 118px;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 45px;
    left: 12px;

}
.ul_p2{
    clear: both;
    width: 118px;
    clear: both;
    position: relative;
    top: 45px;
    left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gainsboro;
}
.ul_p2 a{
    color: grey;
}
#inner_scroll_left,#inner_scroll_right{
    display: block;
    position: absolute;
    top: 71px;
    width: 17px;
    height: 17px;
    background: url("../../img/contextImg/index.png");
}
#inner_scroll_left{
    background-position: -260px -75px;
}

#inner_scroll_right{
    position: absolute;
    top: 71px;
   left: 661px;
    background-position: -300px -75px

}
#inner_scroll_left:hover{
    background-position: -280px -75px;
}

#inner_scroll_right:hover{

    background-position: -320px -75px

}
.n-bilst {
    position: relative;
    top: 20px;
    clear: both;
    height: 472px;
    margin-top: 20px;
    padding-left: 1px;
    width: 676px;

}
.dl1{
    float: right;
    position: relative;
    left: -37px;
    width: 220px;
    height: 483px;
    border: 1px solid lightgrey;

}
.dl1 .dl1_top{
    float: left;
    height: 100px;
    width: 220px;
    background: ghostwhite;

}
.titl{
    float: left;
    width: 116px;
    margin: 6px 0 0 10px;
}
.cover{
    position: relative;
    top: -90px;
    left: 17px;
    width: 80px;
    height: 80px;
    float: left;
    display: inline;
}
.msk{
    display: block;
    position: relative;
    top: -83px;
    left: 0;
    width: 80px;
    height: 80px;
}
#btn .play,#btn1 .play,#btn2 .play{
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 47px;
    left: 112px;;
    background: forestgreen;
    background: url("../../img/contextImg/index.png") -262px -201px;

}
.f-fs1 {
    display: block;
    position: relative;
    top: -83px;
    left: 21px;
}
#btn .cun,#btn1 .cun,#btn2 .cun{
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    top: 17px;
    left: 151px;
    background: url("../../img/contextImg/index.png") -296px -201px;
}
#btn .cun:hover{
    background-position:  -296px -229px;
}
#btn .play:hover{
    background-position:  -262px -229px;
}
.dt_botton{
    display: block;
    background: gainsboro;
    height: 352px;
    width: 220px;
    position: relative;
    top: 40px;
}

.dt_botton ul{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dt_botton ul li{
    position: relative;
    top: -114px;
    height: 10%;
    line-height: 35.2px;
    text-align: center;
    width: 100%;
}
.dt_botton ul li:nth-child(even){
background: #E8E8E8;
}
.dt_botton .no{
    display: block;
    position: relative;
    left: 35px;
    float: left;
    color: red;
}
.dt_botton .no_a{
    display: inline-block;
    position: absolute;
    left: 53px;
    text-align: left;
    height: 35px;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dt_botton .no_a:hover{
    display: inline-block;
    position: absolute;
    left: 53px;
    text-align: left;
    height: 30px;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.oper{
    display: inline-block;
    float: right;height: 35px;
    width: 100px;
    display: none;
}

.dt_botton ul li:nth-child(even):hover .oper{
    position:absolute;
    right: 0px;
    display: inline-block;
    background: #E8E8E8;

}
.dt_botton ul li:nth-child(odd):hover .oper{
    position:absolute;
    right: 0px;
    display: inline-block;
    background: gainsboro;

}

.oper a{
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-left: 4px;
    position: relative;
    top: 6px;
    background: url("../../img/contextImg/index.png") no-repeat 9999px 9999px;

}
.oper a:nth-child(1){
    background-position:-267px -263px;
}
.oper a:nth-child(2){
    background: url("../../img/contextImg/icon.png") no-repeat 3px -692px;;
}
.oper a:nth-child(3){
    background-position:-295px -263px;;
}
#bottom{
    height: 150px;
    width: 100%;
    background: ghostwhite;
    border-top: 1px solid gainsboro;
}
.bottom_center{
    height: 100%;
    width: 73%;
    margin: 0 auto 0;
}
.bottom_center1{
    float: left;
    height:60px;
    width: 300px;

}
.bottom_center1 .cd{
    float: left;
    width: 247px;
    height: 46px;
    margin-top: 10px;
    background: gold;
    background: url("../../img/bottom/sprite.png") no-repeat -400px -80px;

}
.cd1{
    float: left;
    width: 247px;
    height: 46px;
    margin-top: 10px;
    background: gold;
    background: url("../../img/bottom/sprite.png") no-repeat -400px -125px;
}
.bottom_center2{
    float: left;
    height: 60px;
    width: 300px;
}
.bottom_center3{
    float: right;
    height: 40px;
    width: 384px;
    position: relative;
    top: 57px;
    line-height: 70px;

}
.bottom_center3 p,.bottom_center3 a{
    height: 40px;
    color: grey;
}
 .cd .sp1,.cd1 .sp1{
    display: inline-block;
    float: right;
    width: 200px;
     margin-bottom: 5px;



} .cd .sp2,.cd1 .sp2{
      display: inline-block;
      float: right;
      width: 200px;
    color: grey;


  }
  .userlog{
      height: 130px;
      width: 100%;
      background: gainsboro;
      border-top: 1px solid white;
      border-bottom: 1px solid white;

  }
.userlog .userSay{
      width: 205px;
      margin: 0 auto;
      padding: 16px 0;
      line-height: 22px;
  }

.login {

    display: block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    background:#C41A21;
    box-shadow:  0 1px 0 #8a060b;
    text-shadow: 0 1px 0 #8a060b;
    border-radius: 5px;
    margin: 0 auto ;
}
.login:hover{
    background:#E80D0F;
}
.right1{
    height: 480px;
    width: 100%;
}
.singsay{
    position: relative;
    height: 30px;
    margin: 0 20px;
    border-bottom: 1px solid #ccc;
    color: #333;

}
.sing{
    margin-top: 7px;
float: left;
}
.singmore{
    margin-top: 7px;
    float: right;
    font-size: 10px;
    font-weight: normal;
}
.singName{
    width: 220px;
    height: 380px;
    margin: 0 auto;
}
.singName li{
    width: 100%;
    margin-top:20px ;
    height: 60px;
    background: gainsboro;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.singName img {
    display: block;
    float: left;
    background: forestgreen;
    height: 62px;
    width: 62px;

}
.singName div{
    height: 60px;
    width: 148px;
    float: right;
   
}
.singNameh{
    display: block;
    width: 80%;
    float: right;
    text-align: left;
    margin-top: 5px;
}
.singNamep{
    display: block;
    margin-top: 10px;
    width: 80%;
    float: right;
    text-align: left;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.apply{
    height: 25px;
    width: 210px;
    margin: 0 auto;
    background: whitesmoke;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid gainsboro;

}
.apply a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;

}
.apply:hover{
    background: white;
}
.right2{
    margin-top: 20px;
    height: 300px;
    width: 250px;
}
.right2 h3{
    position: relative;
    height: 23px;
    margin: 0 20px;
    border-bottom: 1px solid #ccc;
    color: #333;
}
.dt{
    height: 230px;
    width: 250px;
    list-style: none;
    margin: 0 auto;

}
.dt li{
    margin: auto;
    height: 40px;
    margin-top: 15px;
    width: 80%;

}
.putc{
    height: 40px;
    width: 40px;
    float: left;
    background: hotpink;
}
.putc img{

    height: 100%;
    width: 100%;
}
.info{
    margin-left: 5px;
    height: 40px;
    width: 150px;
    float: left;
}
.dt a{
    position: relative;
    top: -5px;
}
.info_img{
    position: relative;
    top: 3px;
    display: inline-block;
    height: 13px;
    width: 11px;
    background: url("../../img/contextImg/icon.png") no-repeat 0 1px;
}
.dt p{
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.divLogin{

   height : 190px;
    width : 160px;
   background: #2B2B2B;
    position: relative;
    top: 59px;
    left: 854px;
    border-radius: 5px;
    border: 1px solid black;
    display: none;

}
.divLogin ul{
    position: relative;
    top: -69px;
    height : 190px;
    width : 160px;
    list-style: none;
    overflow: hidden;
    padding: 0;
    color: grey;
}
.divLogin ul li{
    height: 20%;
    width: 100%;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.divLogin ul li:hover{
    background: black;
    color: whitesmoke;
}

.divLogin .logep,.divLogin .logep2,.divLogin .logep3,.divLogin .logep4,.divLogin .logep5{
    margin-top: 5px;
    float: left;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    background: red;
   background: url("../../img/top/toplist.png") no-repeat 0 0 ;

}
.divLogin .logep2{
    background-position: 0 -20px;
}
.divLogin .logep3{
    background-position: 0 -40px;
}
.divLogin .logep4{
    background-position: 0 -60px;
}
.divLogin .logep5{
    background-position: 0 -80px;
}

.divLogin .logep1{
    margin-top: 7px;
    margin-left: 10px;
    float: left;
}

#scrollTop1{
    position: fixed;
    bottom: 157px;
    left: 1170px;
    height: 44px;
    width: 49px;
    background: grey;
    z-index: 44;
    display: none;

}

#scrollTop1 a{
    display: block;
    background: url(../../img/right/sprite.png?a1bf977c3a867164cf26018ea8710148) no-repeat 0 9999px;
    height: 100%;
    width: 100%;
    background-position: -265px -46px;
}
#scrollTop1 a:hover{

    background-position: -325px -46px;
}
.bottom_play{
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: url("../../img/bottom/playbar.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    transform: translate(0,40px);
    transition: 1s;
}
.bottom_play:hover{
    transform: translate(0,0);
}
.bottom_playLeft{
    height: 100%;
    width: 90%;
    float: left;

}
.bottom_playRight{
    float: left;
    height: 100%;
    width: 10%;

}
.async{
    position: relative;
    top: -9px;
    margin: auto;
    height: 100%;
    width: 65px;
    background: black;
    background: url("../../img/bottom/playbar.png") no-repeat 0 -385px;
}
.playCenter{
    position: relative;
    top: 9px;
    float: right;
    width: 980px;
    height: 42px;
}
.playCenterLeft{
    margin: 0 5px;
    height: 42px;
    width: 163px;
    float: left;
}
.playCenterLeft a{
    margin: 5px 5px;
    display: inline;
    float: left;
    height: 28px;
    width: 28px;
    background: url("../../img/bottom/playbar.png") no-repeat 999px 999px;
}
.playCenterLeft  .lefta{
    background-position: 0 -130px;

}
.playCenterLeft  .centera{
    margin: 3px 5px;
    height: 36px;
    width: 36px;
    background-position: 0 -204px;
}
.playCenterLeft  .righta{
    background-position: -80px -130px;
}

.playCenterLeft  .lefta:hover{
    background-position: -30px -130px;

}
.playCenterLeft  .centera:hover{
    background-position: -40px -204px;
}
.playCenterLeft  .righta:hover{
    background-position: -110px -130px;
}
.playPac{
    margin-top: 5px;
    display: block;
    height: 34px;
    width: 35px;
    float: left;

}
.comePlay{
    margin-top: 5px;
    float: left;
    width: 570px;
    height: 37px;
}
.comePlayTop{
    width: 570px;
    height: 17px;
}
.singName{
    display: inline;
    color: whitesmoke;
    float: left;
    height: 17px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.singMove{
    float: left;
    display: inline;
    height: 17px;
    width: 19px;
    background: url("../../img/bottom/playbar.png") no-repeat 999px 999px;
    background-position: 0 -57px;

}
.singMove:hover{

    background-position: -20px -57px;
}
.perporName{
    float: left;
    display: inline;
    height: 17px;
    margin:0 15px;
    color: grey;

}
.singLink{
    float: left;
    display: inline;
    height: 17px;
    width: 15px;
    margin:0 15px;
    background: url("../../img/bottom/playbar.png") no-repeat 999px 999px;
    background-position: -110px -103px;
}
.singLink:hover{
    background-position: -130px -103px;
}
.playingLeft{
    display: inline;
    float: left;
    height: 24px;
    width: 22px;
    background: url("../../img/leftImg/iconall.png");
    background-position: 0 -280px;
    z-index: 15;
    position: relative;
}
.playingCenter{
    float: left;
    margin-top: 5.5px;
    margin-left: -15px;
    height: 7px;
    width: 455px;
    float: left;
    background: black;
    border-radius: 5px;
    border: 1px solid gainsboro;
    z-index: 1;
    position: relative;
}
.timing{
    display: inline;
    float: left;
    margin-top: 4px;
    color: whitesmoke;
}
.addAndC{
    width: 60px;
    height: 36px;
    float: left;
}
.adda,.showa{
    display: block;
    float: left;
    height: 25px;
    width: 25px;
    background: url("../../img/bottom/playbar.png") no-repeat 999px 999px;
}
.adda{
    background-position: -88px -163px;
}
.showa{
    background-position: -114px -163px;
}

.adda:hover{
    background-position: -88px -189px;
}
.showa:hover{
    background-position: -114px -189px;
}
.sound{
    float: right;
    width: 109px;
    height: 25px;
}
.sounda,.fora,.texta{

display: block;
    float: left;
    height: 25px;
    width: 25px;
    background: url("../../img/bottom/playbar.png") no-repeat 999px 999px;
}
.sounda{
    background-position: -2px -248px;
}
.fora{
    background-position: -3px -344px;
}
.sounda:hover{
    background-position: -31px -248px;
}
.fora:hover{
    background-position: -33px -344px;
}
.texta{
   width: 59px;
    background-position: -42px -98px;
    text-decoration: none;
    text-indent: 25px;
    line-height: 25px;
    color: gainsboro;
}
.texta:hover{
    background-position: -42px -98px;
}
.asynca{
    position: relative;
    left: 16px;
    top: 2px;
    display: block;
    height: 18px;
    width: 18px;
    background: url("../../img/bottom/playbar.png") no-repeat 999px 999px;
  /*  background-position: -100px -380px;*/
    background-position: -80px -380px;

}
.bottom_playLeftTop{
    position: absolute;
    bottom: 40px;
    height: 20px;
    width: 100%;
    cursor: pointer;

}
.asynca:visited{
     background-position: -100px -380px ;
    position: relative;
}
.userlogin
{
    box-shadow: 0 5px 16px rgba(0,0,0,0.8);
    border: none;
    background: #FFFFFF;
}
.userloginTop{
    background: url("../../img/bottom/playbar.png") repeat-x 0px -8px;
}
.userloginTopHtml{
    width: 80%;
    height: 38px;
    margin: 0 auto;
    color: white;
    text-align: left;
    line-height:38px ;
    font-weight: bold;
    font-size: 14px;
}
.userloginCenter
{
    padding: 30px 0 43px;
    background: #FFFFFF;
}
.userName,.passWrord{
    width: 206px;
    height: 19px;
    margin: 0;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
    margin-top: 10px;
    list-style: none;
    outline-offset: 0px;
    utline: -webkit-focus-ring-color auto 0px;
    color: grey;
}
.userName{
margin-top: 30px;
}
input:focus{

}
.label{
    height: 14px;
    width: 220px;
    margin-top: 10px;
    color: #666;
    font-size: 12px;
}
.label label{
    display: inline-block;
    position: relative;
    top: 1px;
}
.label label input{
    vertical-align: text-top;
}
.label a{
    display: block;
    float: right;
    color: #666;
}
.label a:hover{
    text-decoration: underline;
}
.submitBu{
     height: 31px;
    width: 200px;
    margin: 20px auto;
    border-radius: 5px;
    background: greenyellow;
    overflow: hidden;
}
.submitBu a{
    display: inline-block;
    height: 31px;
    width: 100%;
    line-height: 31px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    text-align: center;
    line-height: 31px;
    color: white;
    letter-spacing: 15px;
    background: url("../../img/bottom/button2.png") repeat-x;
    background-position: right -387px;
    text-decoration: none;
}
.submitBu a:hover{
    background-position: right -470px;
    text-decoration: none;
}
.userloginBottonCenter{
    height: 49px;
    width:95%;
    margin: auto;

}
.userloginBottonCenterLeft{
    height: 48px;
    width: 85px;
    float: left;
}
.userloginBottonCenterRight{
    height: 48px;
    width: 121px;
    float: right;
}
.userloginBottonCenterLeft a{
     font-size: 12px;
     text-decoration: none;
     color: #0c72c3;
     display: block;
     height: 48px;
     line-height: 48px;
 }
.userloginBottonCenterRight a{
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    color: grey;
    display: block;
    float: right;
    height: 48px;
    line-height: 48px;

}
.userloginTopErrror{
    text-align: center;
    line-height: 38px;
    position: relative;
    top:-38px;
    height: 100%;
    width: 38px;
    float: right;
    color: grey;
    cursor: pointer;
}
.resultSongs{
    display: none;
    width: 240px;
    /*height: 400px;*/
    background: white;
    position: absolute;
    top: 38px;
    left: 0px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.resultSongsTop{
    height: 39px;
    border-bottom: 1px solid lightgrey;
    width: 240px;
    text-align: left;
    line-height: 39px;
    overflow: hidden;
    text-indent: 5px;
    color: grey;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.resultSongsLeft{
    float: left;
    width: 64px;
    /*height: 360px;*/
    border-right: 1px solid lightgrey;
}
.resultSongsRight{
   /* height: 360px;*/
    width: 175px;
    float: right;
}
.resultSongsRight ul:nth-child(even){
    background: #F9F8F8;
}
.oneSongs0,.songsName0,.songsMore0{
    width: 64px;
    /*border-bottom: 1px solid lightgrey;*/
    /*height: 65px;*/
}
.songsMV0{
    height: 100px;
    width: 64px;
}
.oneSongs,.songsName,.songsMore{
    width: 175px;
    border-bottom: 1px solid lightgrey;

}
.songsMV{
    width: 175px;
}
.oneSongs li{
    width: 175px;
    height: 20px;

}
.resultSongsRight li a{
    height: 100%;
    width: 100%;
    display: block;
    text-indent: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;

}
.resultSongsRight li a:hover{
    background:#E3E5E7;
}
.resultSongsRight .li1{
    margin-top: 5px;
}
.oneSongs0 a,.oneSongs0 p,.songsName0 p,.songsMore0 p,.songsMV0 p{
    margin-top: 4px;
    text-indent: 7px;
    line-height: 20px;
    display: inline-block;
    float: left;
}
.oneSongs0  a,.songsName0 a,.songsMore0  a,.songsMV0 a{
    display: block;
    float: left;
    height: 20px;
    width: 18px;
    line-height: 20px;
    text-indent: 5px;
    background: grey;
    background: url("../../img/contextImg/icon.png") no-repeat -32px -297px;
}
.songsName0 a{
    background: url("../../img/contextImg/icon.png") no-repeat -47px -294px;
}
.songsMore0 a{
    background: url("../../img/contextImg/icon.png") no-repeat -32px -314px;
 }
.songsMV0 a{
    background: url("../../img/contextImg/icon.png") no-repeat -56px -855px;
 }
#touchD{
    position: absolute;
    top: -15px;
    left: 65px;
    height: 73px;
    width: 83px;
}